/* add your CSS here */
html {
    font-family: Arial, Helvetica, Sans-serif;
  }
  #card {
    
    background-color: rgb(00,224,230);
    width: 300px;
    padding: 10px;
    border: 5px solid rgb(235, 235, 235);
    box-shadow: 5px 5px rgba(119, 101, 101, 0.3)
      
  
  }
  .title {
    font-weight: bold;
  
  }
  .catphoto {
    width: 300px;
    
  }
  #card-info {
    
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(235, 235, 255);
  
  }
  .fact  {
    font-style: italic;
  
  }
  .list {
    list-style: none;
    padding: 0px;
    
  
  }
  .label {
    font-weight: bold;
  
  }
  